@model LibraryManagementSystem.ENTITIES.ViewModel.CreateRents

@{
    ViewData["Title"] = "GetMyRentBook";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="card-group" style="margin-top:4%" >
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush text-center">
            <h3>Fotoğraf</h3>
            @foreach (var item in Model.RentBook)
            {
                <li class="list-group-item">
                    <img style="width:180px;height:150px" src="@item.Book.PhotoName" />
                </li>
            }
        </ul>
    </div>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush text-center">
            <h3>Kitap Adı</h3>
            @foreach (var item in Model.RentBook)
            {
                <li class="list-group-item" style="height: 167px">
                    @item.Book.BookName
                </li>
            }
        </ul>
    </div>

    <div class="card" style="width: 18rem; flo">
        <ul class="list-group list-group-flush text-center">
            <h3>Kira Başlangıç ve Bitiş Tarihi</h3>
            @foreach (var item in Model.RentBook)
            {
                <li class="list-group-item" style="height: 167px">
                    @item.RentStartTime.ToShortDateString() - @item.RentEndTime.ToShortDateString()
                </li>
            }
        </ul>
    </div>
</div>
