@model LibraryManagementSystem.ENTITIES.ViewModel.CreateRents

@{
    ViewData["Title"] = "GetMyRentBook";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1>GetMyRentBook</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Kira Başlangıç Tarihi
            </th>
            <th>
                Kira Bitiş Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in ViewBag.Bookss)
    {
        <tbody class="row">
            <tr>
                <td>
                    @item.PhotoName
                </td>
            <tr />
        </tbody>
    }
</table>
