@model LibraryManagementSystem.ENTITIES.Entities.User

@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<div class="row justify-content-md-center mt-5">
    <div class="col-md-5" style="margin-top:1%">
        <form enctype="multipart/form-data" asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" accept=" image/png,image/jpeg" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelPhoneNumber" class="control-label"></label>
                <input asp-for="PersonelPhoneNumber" type="text" maxlength="14" class="phone form-control" placeholder="(555) 555-5555" />
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Cinsiyet Seçiniz</label>
                <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<GenderEnum>()" class="form-control"> </select>
            </div>
            <div class="form-group my-5" style="margin: auto; width: 25%;">

                @if (ViewBag.AllReadyAdded != null)
                {
                    <span style="font-size:large;" class="text-danger">@ViewBag.AllReadyAdded</span>
                }
                @if (ViewBag.SonucNegatif != null)
                {
                    <span class="text-danger">@ViewBag.SonucNegatif</span>
                }
                <br />
                <div class="form-group">
                    <input type="submit" value="Ekle" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>
