@model LibraryManagementSystem.ENTITIES.Entities.User

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}


<div class="row justify-content-md-center mt-5">
    <div class="col-md-5" style="margin-top:1%">
        <form asp-action="EditUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" type="file" accept=" image/png,image/jpeg" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonelPhoneNumber" class="control-label"></label>
                <input asp-for="PersonelPhoneNumber" class="form-control" />
                <span asp-validation-for="PersonelPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-items="@Html.GetEnumSelectList<GenderEnum>()" class="form-control"> </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <a class="btn form-control" style="color: white; background-color: #478ba2;  border-radius: 40px; width: 100%; " asp-action="GetUser" asp-controller="Admin">Güncelle</a>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
